<% provide:title , t(".title") %>
<h1><%= t".h1" %></h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <%= link_to "http://www.railstutorial.org/contact" do %>
    <%= t".content" %>
  <% end %>.
</p>
