<% provide :title, t(".title") %>
<h1><%= t".h1" %></h1>
<p>
  This is the home page for the
  <%= link_to "http://www.railstutorial.org/" do %>
  	<%= t".content" %>
  <% end %>
  sample application.
</p>
