@import 'bootstrap-sprockets';
@import 'bootstrap';

// misxins, variables, etc.
$gray-medium-light: #eaeaea;
$white: #fff;
$shadow: #bbb;
$red: #f00;

@mixin box-sizing {
  box-sizing: border-box;
}

// universal

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

// typography

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  line-height: 1;
}

h4 {
  line-height: 1;
}

h5 {
  line-height: 1;
}

h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

// footer

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// miscellaneous

.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

// sidebar

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

// forms

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $shadow;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  @extend %has-error !optional;

  .form-control {
    color: $state-danger-text;
  }
}
